@use "./variables" as v;

.products-carousel {
	.carousel-shell {
		width: 100%;
		margin: 0 auto;
		position: relative;
		padding: 0 80px;
		box-sizing: border-box;
	}

	.swiper {
		width: 100%;
		overflow: hidden;
	}

	.swiper-wrapper {
		display: flex;
		align-items: stretch;
	}

	.swiper-slide {
		height: auto;
		display: flex;
		box-sizing: border-box;
		background-color: v.$color-rb-white;
		border-color: v.$color-rb-primary;
		border-width: 3px;
		border-style: solid;
	}

	.product-card {
		width: 100%;
	}

	.swiper-navigation-buttons {
		position: absolute;
		inset: 0;
		z-index: 20;
		pointer-events: none;
	}

	.swiper-arrow-prev,
	.swiper-arrow-next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 54px;
		height: 54px;
		display: flex;
		align-items: center;
		background-color: transparent;
		border-color: transparent;
		justify-content: center;
		pointer-events: all;
	}

	/* ICON BASE */
	.swiper-arrow-prev::before,
	.swiper-arrow-next::before {
		content: "";
		width: 30px;
		height: 30px;
		display: block;

		border-right: 8px solid v.$color-rb-accent-light;
		border-bottom: 8px solid v.$color-rb-accent-light;
		transform: scale(1);

		transition:
			transform 0.25s ease,
			border-color 0.25s ease;
	}

	.swiper-arrow-prev:hover::before,
	.swiper-arrow-next:hover::before {
		border-color: v.$color-rb-secondary;
	}

	/* DIRECTION */
	/* RIGHT */
	.swiper-arrow-next::before {
		transform: rotate(-45deg);
	}

	.swiper-arrow-next:hover::before {
		transform: rotate(-45deg) scale(1.15);
	}

	/* RIGHT */
	.swiper-arrow-next:active::before {
		transform: rotate(-45deg) scale(1.1);
		border-color: v.$color-rb-secondary;
		transition: none;
	}

	/* LEFT */
	.swiper-arrow-prev::before {
		transform: rotate(135deg);
	}

	.swiper-arrow-prev:hover::before {
		transform: rotate(135deg) scale(1.15);
	}

	.swiper-arrow-prev:active::before {
		transform: rotate(135deg) scale(1.1);
		border-color: v.$color-rb-secondary;
		transition: none;
	}

	.swiper-arrow-prev {
		left: 12px;
	}

	.swiper-arrow-next {
		right: 12px;
	}

	.swiper-arrow-prev,
	.swiper-arrow-next {
		outline: none;
	}

	// Active Slide
	.swiper-slide-next .product-card {
		background-color: v.$color-rb-primary;
		color: v.$color-rb-white;
		z-index: 2;
	}

	.swiper-slide-next .product-card h3,
	.swiper-slide-next .product-card p,
	.swiper-slide-next .product-card li,
	.swiper-slide-next .product-card strong {
		color: v.$color-rb-white;
	}

	.swiper-slide-next .product-price {
		border-color: v.$color-rb-white;
	}

	.swiper-slide-next .product-price p:nth-child(1) {
		color: v.$color-rb-accent-green !important;
	}
}
