$color-rb-white: white;
$color-rb-primary: #003ecd;
$color-rb-secondary: #ff2c86;
$color-rb-accent-light: #9db5ea;
$color-rb-accent-green: #94fa96;
$color-rb-shadow: rgba(0, 0, 0, 0.08);
$color-rb-text: #2a2a48;
